<% unless user_signed_in? %>

<div class="hero-unit">
	<h1>Welcome to My Photoboard</h1>
		<p>
			You have found the homepage for my first Ruby on Rails application that I built from 
			<%= link_to "One Month Rails!", "http://www.onemonthrails.com"%> <p>
			<%= link_to "Sign-Up Now", new_user_registration_path, class: "btn btn-large btn-primary"%>
		</p>
</div>

<% end %>